#page {
    background-color:#F8F9F9;
    width:95%;
    margin-left:2.5%;
    margin-top:20px;
    padding:10px;
    border-radius: 10px;
}
.dragging{
    opacity: 70%;;
}
ion-icon{
    padding:10px;
    font-size: 25px;

}

.pos_price{
    color: green;
}

.neg_price{
    color: red;
}
.price{
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    border-bottom: 1px solid #99A3A4 ;
    border-top: 1px solid #99A3A4 ;
}

.percentage{
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid #99A3A4 ;
    border-top: 1px solid #99A3A4 ;
}
.avg{
    padding-top:10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.title_name{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
